---
layout: default
---
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92617807-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>


<!-- <p id="landing-page-text"> Hi! My name is Nan Wu.</p> -->
<p id="landing-page-text"> 你好哇. 我的战友。 </p>
<p id="landing-page-text-small"> I am a Ph.D. student at New York University, Center for Data Science. </p> 
<p id="landing-page-text-small"> I work with <a href="https://cs.nyu.edu/~kgeras/"> Krzysztof J. Geras </a> and <a href="http://kyunghyuncho.me"> Kyunghyun Cho </a> on deep learning research for medical imaging. 
Currently, our research centres on both application and theoritical learning problems related with breast cancer screening. </p> 
<p id="landing-page-text-small"> Before joining NYU, I did my undergraduate study at School for Gifted Young, University of Science and Technology of China and graduated with B.S. in Statistics and B.A in Business Administration.
</p>
<p id="landing-page-text-small"> Besides my research, I am passionate about solving all kinds of real world problems with data science, especially machine learning tools.</p>
<p> </p>

<p id="landing-page-text-small"> Check out for more: <a href="/me"> about me </a> </p>
<p id="landing-page-text"> Welcome to connect via: <a href="https://twitter.com/NanWu__"> Twitter </a> </p>

<p id="landing-page-text"> My new post: <a href="/:categories/:year/:month/:day/:title"> If you want to apply for NYU Data Science PhD program:) </a> </p>



<div class="blog">
    <h1>Publications:</h1>
  <ul>
    {% for post in site.categories.science %}
      {% if post.work-type == 'Paper' %}
        <li>
          <p> {{ post.ref-title }}. </p>
          <p id="paper-author"> {{ post.ref-authors }}. </p>
          <p id="paper-info"> {{ post.ref-info }}. <a href="{{post.ref-link}}"> pdf </a>. 
            {% if post.ref-link-code %}
            Code avalible at: <a href="{{post.ref-link-code}}"> {{post.ref-link-code}} </a> 
            {% endif %}
          </p>
        </li>
      {% endif %}
    {% endfor %}
  <ul>
</div>

<!-- <div class="blog">
    <h1>Stream:</h1>
    <ul>
        {% for post in site.categories.diary %}
           {% if post.work-type == 'onmainpage' %}
            <li>
              <p> {{ post.ref-title }}. </p>
              <p id="paper-author"> {{ post.ref-authors }}. </p>
              <p id="paper-info"> {{ post.ref-info }}. <a href="{{post.ref-link}}"> pdf </a>. 
                {% if post.ref-link-code %}
                Code avalible at: <a href="{{post.ref-link-code}}"> {{post.ref-link-code}} </a> 
                {% endif %}
              </p>
            </li>
          {% endif %}
        {% endfor %}
    </ul>
</div> -->

<!-- <div class="blog">
    <h1>Projects:</h1>
    <ul>
        {% for post in site.categories.project %}
           <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
           </li>
        {% endfor %}
    </ul>
</div> -->

<div class="blog">
    <h1>shares:</h1>
    <ul>
        {% for post in site.categories.shares %}
           <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
