---
layout: default
---
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92617807-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>


<!-- <p id="landing-page-text"> Hi! My name is Nan Wu.</p> -->
<p id="landing-page-text"> 你好哇. 我的战友。 </p>
<p id="landing-page-text-small"> I am a Ph.D. student at New York University, Center for Data Science, where I work with <a href="https://cs.nyu.edu/~kgeras/"> Krzysztof J. Geras </a> and <a href="http://kyunghyuncho.me"> Kyunghyun Cho </a> on deep learning research for medical imaging. </p> 
<p id="landing-page-text-small"> Gladly I am one of the recipients of <a href="https://research.google/outreach/phd-fellowship/recipients/"> Google PhD Fellowship 2020 </a> on Machine Perception, Speech Technology and Computer Vision. </p>
<p id="landing-page-text-small"> 
My research centres on both application and theoritical learning problems related with breast cancer screening. 
Currently, I m focusing on problems in multi-modal deep learning. See the full list of my papers <a href="https://scholar.google.com/citations?user=le0K2coAAAAJ&hl=en"> here. </a> </p>
<p id="landing-page-text-small"> 
Besides the main research focus, I am also interested in topics under knowledge graph and responsible data science. I keep my eye on diverse innovative AI applications and enjoy brainstorming and conversations on related ideas with people from industry and academia.     
</p> 
<p id="landing-page-text-small"> Before joining NYU, I did my undergraduate study at <a href="https://en.scgy.ustc.edu.cn/"> School of Gifted Young, University of Science and Technology of China </a> and graduated with B.S. in Statistics and B.A in Business Administration. I spent two years in the Brain Function and Disease lab leading by Prof. Xiaochu Zhang and made contribution to the neurofeedback system empowered by machine/deep learning models. It has been the foundation of several following research projects in cognitive science and neuroscience. [<a href="https://link.springer.com/article/10.1007/s11432-019-2819-y">1</a>, <a href="https://link.springer.com/article/10.1007/s11432-019-2847-8">2</a>, <a href="https://academic.oup.com/brain/article-abstract/142/6/1827/5481198">3</a>, <a href="https://www.frontiersin.org/articles/10.3389/fpsyt.2019.00296/full">4</a> ...].      
</p>
<p id="landing-page-text-small">  </p>
<p> </p>

<p id="landing-page-text-small"> Check out more information from <a href="https://wooginawunan.github.io/assets/img/CV_NANWU.pdf"> my CV </a> </p>
<p id="landing-page-text"> Welcome to connect via: <a href="https://twitter.com/NanWu__"> Twitter </a> </p>

<p id="landing-page-text"> Fun fact about myself: I have been a captain of a soccer team and studied boxing in college. Now I am big fan of Marie Kondo and eager to build up my own life-organizing philosophy and methodology, starting from helping my friends to get organized. Feel free to let me know if you need help as well :) </p>
 
<!-- <p id="landing-page-text"> My new post: <a href="https://wooginawunan.github.io/questionphd"> If you want to apply for NYU Data Science PhD program:) </a> </p> -->


<!-- <div class="blog">
    <h1>Publications:</h1>
  <ul>
    {% for post in site.categories.science %}
      {% if post.work-type == 'Paper' %}
        <li>
          <p> {{ post.ref-title }}. </p>
          <p id="paper-author"> {{ post.ref-authors }}. </p>
          <p id="paper-info"> {{ post.ref-info }}. <a href="{{post.ref-link}}"> pdf </a>. 
            {% if post.ref-link-code %}
            Code avalible at: <a href="{{post.ref-link-code}}"> {{post.ref-link-code}} </a> 
            {% endif %}
          </p>
        </li>
      {% endif %}
    {% endfor %}
  <ul>
</div> -->

<!-- <div class="blog">
    <h1>Stream:</h1>
    <ul>
        {% for post in site.categories.diary %}
           {% if post.work-type == 'onmainpage' %}
            <li>
              <p> {{ post.ref-title }}. </p>
              <p id="paper-author"> {{ post.ref-authors }}. </p>
              <p id="paper-info"> {{ post.ref-info }}. <a href="{{post.ref-link}}"> pdf </a>. 
                {% if post.ref-link-code %}
                Code avalible at: <a href="{{post.ref-link-code}}"> {{post.ref-link-code}} </a> 
                {% endif %}
              </p>
            </li>
          {% endif %}
        {% endfor %}
    </ul>
</div> -->

<!-- <div class="blog">
    <h1>Projects:</h1>
    <ul>
        {% for post in site.categories.project %}
           <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
           </li>
        {% endfor %}
    </ul>
</div> -->

<!-- <div class="blog">
    <h1>shares:</h1>
    <ul>
        {% for post in site.categories.shares %}
           <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div> -->
