---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<p id="landing-page-text"> Hi! My name is Nan Wu.</p>
<p id="landing-page-text"> Welcome to my palace constructed by data science. </p>
<p id="landing-page-text"> Check out for more <a href="/me"> about me </a> </p>
<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
